@import url("reset.css");

body {
}
.sudoku {
  width: fit-content;
  margin: 50px auto;
  border-width: 3px 1px 1px 3px;
  border-style: solid;
  border-color: black;
}

ul:nth-child(3n) {
  border-bottom: 2px solid black;
}

.grid {
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  outline: 1px solid black;
}

.grid:nth-child(3n) {
  border-right: 2px solid black;
}

.legal {
  background-color: rgb(100, 255, 100);
}

.focus {
  background-color: rgb(255, 241, 83);
}

.init {
  background-color: blue;
  color: white;
}

.grid:not(.init) {
  cursor: pointer;
}

.error {
  background-color: red;
}

/*按鈕區塊*/

.buttomFlex {
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

.buttomFlex li {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 10px;
  background-color: #eee;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
}
